.navbar{
    display: flex;
    border:solid 1px rgb(50, 149, 179);
    background-color: rgb(50, 179, 147);
}
.layout_container ul{
    list-style: none;
}
.layout_container ul li{
    display: inline-block;
    margin-right: 20px;
}
.layout_container ul li a{
    text-decoration: none;
    color: white;
    border:solid 1px;
    border-radius: 10px;
}